<h1>{{hex}}</h1>

<div class="row">
  <div class="col-md-9">
    {{color-panel hex=hex action='viewColor'}}
  </div>
  <div class="col-md-3">
    {{color-panel hex=model.complement text='complement' action='viewColor'}}

    <hr />

    <div class="row">
    {{#each hex in model.triad}}
      <div class="col-md-4">
      {{color-panel hex=hex text='triad' action='viewColor'}}
      </div>
    {{/each}}
    </div>

    <hr />

    <div class="row">
    {{#each hex in model.analogous}}
      <div class="col-md-4">
      {{color-panel hex=hex text='analogous' action='viewColor'}}
      </div>
    {{/each}}
    </div>

    <hr />

    <div class="row">
    {{#each hex in model.rectangle}}
      <div class="col-md-4">
      {{color-panel hex=hex text='rectangle' action='viewColor'}}
      </div>
    {{/each}}
    </div>

  </div>
</div>
